nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    a.navbar-brand(href='#') Navbar
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='')
        span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item
                a.nav-link(href='/') Home
            li.nav-item
                a.nav-link(href='/temario') Temario

main(role='main')
    .jumbotron
        .container
            h1.display-3 NodeJS
            p Curso de NodeJS de OpenWebinars en el que aprenderas como funciona...